.todo-app-settings {
  background-color: transparent;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
  position: absolute;
  right: 20px;
  top: -10px;
  display: flex;
  border-radius: 10px;
  padding: 5px;
}

.theme > select,
.mode > select {
  border: none;
  border-radius: 5px;
  padding: 5px;
  width: 55px;
  font-size: 10px;
  background-color: transparent;
  font-weight: bold;
  border: none;
  outline: none;
}

.theme > label,
.mode > label {
  font-size: 12px;
  margin-right: -10px;
}

.theme {
  border-right: 1px solid rgba(0, 0, 0, 0.3);
  padding-right: 6px;
}

.mode {
  padding-left: 6px;
}

/* dark */
.theme-dark {
  background-color: #000;
}

.theme-dark > * {
  color: #fff;
}

.theme-dark .selected-todo-edit-card div:nth-of-type(1) h2 {
  color: #000;
}

.theme-dark .settings-card {
  color: #000 !important;
}

.theme-dark .selected-todo-highlight-card {
  color: #000;
}

.theme-dark > .todo-app-container {
  box-shadow: 0 0 1px #fff;
}

.theme-dark > .todo-app-container > .setting-div > .setting {
  background-color: transparent;
  box-shadow: 0 0 2px #fff;
}

.theme-dark > .todo-app-container > .todo-app-container-top {
  background-color: #222;
}

.theme-dark
  > .todo-app-container
  > .todo-app-container-top
  > form
  > input:hover,
.theme-dark > .todo-app-container > .todo-app-container-top > form > input {
  box-shadow: 0px 0px 4px black;
}

.theme-dark > .todo-app-container > .todo-app-container-bottom > ul > li {
  box-shadow: 0 0 2px #fff;
  color: #000;
  background-color: #9999;
}

.theme-dark > .todo-app-container > .todo-app-container-bottom > ul > li:hover {
  box-shadow: 0 0 6px #fff;
}

.theme-dark > .todo-app-title-div > .todo-app-settings {
  box-shadow: 0 0 4px #fff;
  /* color: #; */
}

.theme-dark > .todo-app-title-div > .todo-app-settings > .theme {
  box-shadow: 1px 0 0 #fff;
}

.theme-dark > .todo-app-title-div > .todo-app-settings > .theme > select {
  color: #fff;
}

.theme-dark
  > .todo-app-title-div
  > .todo-app-settings
  > .theme
  > select
  > option {
  color: #fff;
  background-color: #000;
}

.theme-dark
  > .todo-app-title-div
  > .todo-app-settings
  > .mode
  > select
  > option {
  color: #fff;
  background-color: #000;
}

.theme-dark > .todo-app-title-div > .todo-app-settings > .mode > select {
  color: #fff;
}

.theme-dark > .todo-app-container > .settings-card {
  background-color: #222;
  box-shadow: 0 0 1px #fff;
}

.theme-dark
  > .todo-app-container
  > .settings-card
  > .settings-card-top
  > button {
  color: #fff;
}

.theme-dark
  > .todo-app-container
  > .settings-card
  > .settings-card-container
  > div {
  box-shadow: 0 0 2px #fff;
}

.theme-dark
  > .todo-app-container
  > .settings-card
  > .settings-card-container
  > div
  > select {
  background-color: transparent;
  color: #fff;
}

.theme-dark
  > .todo-app-container
  > .settings-card
  > .settings-card-container
  > div
  > select
  > option {
  background-color: #222;
}

.theme-dark
  > .todo-app-container
  > .settings-card
  > .settings-card-container2
  > p:nth-of-type(1) {
  box-shadow: 0 0 1px #fff;
}

#text-appear {
  background-color: #9999;
}

.theme-dark
  > .todo-app-title-div
  > .todo-app-settings
  > .selected-todos-operation
  > div
  > button::after {
  color: #fff;
  box-shadow: 0 0 2px #fff;
}

/* light */
.theme-light {
  background-color: #fff;
}

.theme-light > .todo-app-container {
  box-shadow: 0 0 4px rgba(0, 0, 0, 1);
}

.theme-light
  > .todo-app-title-div
  > .todo-app-settings
  > .selected-todos-operation
  > div
  > button
  > i:hover {
  color: gray;
}

/* mode mobile */
.mode-mobile {
  width: 400px;
  height: 80vh;
  align-self: center;
  margin: auto;
}

.mode-mobile > .todo-app-title-div {
  flex-direction: column;
}

.mode-mobile > .todo-app-title-div > h1 {
  margin-bottom: 170px;
}

.mode-mobile > .todo-app-title-div > .todo-app-settings {
  right: 72px;
  top: 40px;
  width: 89px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.mode-mobile > .todo-app-title-div > .todo-app-settings > .theme {
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

.mode-mobile > .todo-app-container > .settings-card {
  width: 100%;
  background-color: red;
}

/* mode tablet */
.mode-tablet {
  margin: auto;
  gap: 50px;
}

.mode-tablet .todo-app-container {
  width: 50%;
}

.mode-tablet > .todo-app-title-div > .todo-app-settings {
  right: 58px;
  top: 15px;
}

/*mode dekstop*/
.mode-dekstop {
  width: 100vw;
  max-height: 70vh;
}

.mode-dekstop > .todo-app-container {
  width: 90%;
  margin-top: 200px;
}

/* selected todos operation */
.selected-todos-operation {
  box-shadow: 0 0 3px rgb(4, 49, 110);
  padding: 4px;
  border-radius: 10px;
  position: absolute;
  bottom: -34px;
  right: 0px;
  display: none;
  gap: 10px;
  display: none;
}

.selected-todos-edit > button > i:hover {
  color: #fff;
}

.selected-todos-delete > button {
  position: relative;
  overflow: hidden;
}

.selected-todos-delete > button::after {
  content: "delete selected todos";
  font-size: 10px;
  position: absolute;
  top: 24px;
  right: 10px;
  background-color: transparent;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.6);
  color: #000;
  display: flex;
  flex-wrap: wrap;
  width: 100px;
  padding: 2px;
  border-radius: 4px;
  border-top-right-radius: 0;
  border-right: 3px solid #fff;
}

.selected-todos-edit > button {
  position: relative;
  overflow: hidden;
}

.selected-todo-edit- > button::before {
  position: absolute;
  content: "once at a time";
  bottom: opx;
  background-color: #ff0000;
}

.selected-todos-edit > button::after {
  content: "edit selected todo";
  font-size: 10px;
  position: absolute;
  top: 24px;
  right: 10px;
  background-color: transparent;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.6);
  color: #000;
  display: flex;
  flex-wrap: wrap;
  width: 100px;
  padding: 2px;
  border-radius: 4px;
  border-top-right-radius: 0;
  border-right: 3px solid #fff;
}

.selected-todos-customize > button {
  position: relative;
  overflow: hidden;
}

.selected-todos-customize > button::after {
  content: "customize selected todos";
  font-size: 10px;
  position: absolute;
  top: 24px;
  right: 10px;
  background-color: transparent;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.6);
  color: #000;
  display: flex;
  flex-wrap: wrap;
  width: 120px;
  padding: 2px;
  border-radius: 4px;
  border-top-right-radius: 0;
  border-right: 3px solid #fff;
}

.selected-todos-highlight > button {
  position: relative;
  overflow: hidden;
}

.selected-todos-highlight > button::after {
  content: "highlight selected todos";
  font-size: 10px;
  position: absolute;
  top: 24px;
  right: 10px;
  background-color: transparent;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.6);
  color: #000;
  display: flex;
  flex-wrap: wrap;
  width: 120px;
  padding: 2px;
  border-radius: 4px;
  border-top-right-radius: 0;
  border-right: 3px solid #fff;
}

.todo-app-container {
  position: relative;
}

/* selected todos edit card */
.selected-todo-edit-card {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 50%;
  background-color: #fff;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
  display: none;
  overflow: scroll;
}

.selected-todo-edit-card > div:nth-of-type(1) {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.selected-todo-edit-card > div:nth-of-type(1) > h2 {
  margin-top: 15px;
}

.selected-todo-edit-card > div:nth-of-type(1) > button:nth-of-type(1) {
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
  color: #000;
  background-color: #9999;
  padding: 4px;
  border-radius: 5px;
  transition: all 0.3s;
  position: absolute;
  right: 0;
  top: -20px;
}

.selected-todo-edit-card > div:nth-of-type(1) > button:nth-of-type(1):hover {
  background-color: #999;
}

.selected-todo-edit-card > div:nth-of-type(1) > button:nth-of-type(2) {
  position: absolute;
  left: 0;
  top: -20px;
  transition: all 0.3s;
  color: #000;
}

.selected-todo-edit-card > div:nth-of-type(1) > button:nth-of-type(2):hover {
  color: #808080;
}

.selected-todo-edit-card-textarea {
  height: 100px;
  width: 80%;
  padding: 6px;
  border: none;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.6);
  border-radius: 10px;
  margin: auto 50%;
  transform: translateX(-50%);
  margin-top: 30px;
}

.selected-todo-edit-card > div:nth-of-type(1) {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.selected-todo-edit-card-textarea::-webkit-scrollbar {
  display: none;
}

/* selected todos highlight */
.selected-todo-highlight-card {
  min-width: 60%;
  max-width: 100%;
  background-color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: scale(0.9) translate(-50%, -50%);
  overflow: scroll;
  border-radius: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  z-index: 1;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
}

.selected-todo-highlight-card > .top {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  margin-bottom: 50px;
}

.highlight-card-hide {
  display: none;
}

.top button:nth-of-type(1) {
  border: none;
  background-color: transparent;
  position: absolute;
  top: -10px;
  left: 0px;
  margin: 8px 3px;
  transition: all 0.3s;
}

.top button:nth-of-type(1):hover {
  color: #909090;
}

.top > h3 {
  position: absolute;
  top: 20px;
}

.top button:nth-of-type(2) {
  border: none;
  background-color: #9993;
  position: absolute;
  top: -10px;
  right: 0px;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
  padding: 3px 5px;
  border-radius: 5px;
  transition: all 0.3s;
}

.top button:nth-of-type(2):hover {
  background-color: #9999;
}

.save-unhighlight-card-btn {
  border: none;
  background-color: #9993;
  position: absolute;
  top: -10px;
  right: 105px;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
  padding: 3px 5px;
  border-radius: 5px;
  transition: all 0.3s;
}

.save-unhighlight-card-btn:hover {
  background-color: #9999;
}

.bottom {
  margin-top: 0px;
}

#preference {
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 5px;
  border-radius: 10px;
  padding: 4px;
}

#preference > div {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 5px;
  gap: 10px;
}

#preference div:nth-child(1) > label {
  background-color: #adff2f;
  padding: 5px;
}

#preference div:nth-child(2) > label {
  background-color: #adff2f;
  padding: 5px;
}

#preference div:nth-child(3) > label {
  background-color: #adff2f;
  padding: 5px;
}

.highlight-big {
  font-size: 24px !important;
  font-weight: bolder;
  color: #000;
}

.highlight-medium {
  font-size: 19px !important;
  font-weight: bolder;
  color: #000;
}

.highlight-small {
  font-size: 16px !important;
  font-weight: bolder;
  color: #000;
}

.bgc-greenyellow {
  background-color: #adff2f !important;
}

.will-be-selected-div {
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.6);
  border-radius: 10px;
  padding: 5px;
}

@media screen and (min-width: 750px) {
  .mode-dekstop {
    max-height: 90vh !important;
  }

  .mode-dekstop .todo-app-container {
    margin-top: 150px;
  }
}

@media screen and (max-width: 500px) {
  .save-unhighlight-card-btn {
    top: 20px;
    right: 0;
  }
  .highlight-your-selected-todos {
    margin-top: 30px;
  }
  .bottom {
    margin-top: 30px;
  }
}

@media screen and (max-width: 580px) {
  .mode-tablet .todo-app-container {
    width: 75%;
  }

  .todo-app-settings {
    flex-direction: column;
    top: 50px !important;
  }

  .theme {
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  }

  .theme-dark > .todo-app-title-div > .todo-app-settings > .theme {
    box-shadow: none;
    border-bottom: 1px solid #fff;
  }
}

@media screen and (max-width: 380px) {
  .mode-tablet .todo-app-container {
    width: 90% !important;
  }

  .todo-app-title-div {
    flex-direction: column-reverse;
  }

  .todo-app-settings {
    top: 45px;
    right: 90px;
  }

  .todo-app-container {
    transform: translateY(100px);
  }

  .selected-todos-operation {
    width: 100px;
    left: -4px;
    align-items: center;
    justify-content: center;
  }

  .form .add-todo-btn {
    width: 30%;
  }

  .todo-app-container-top {
    padding: 10px;
  }

  body {
    padding: 0 5px;
  }
}
