.btn {
    cursor: pointer;
    border: none;
    background-color: transparent;
    font-size: 16px;
    color: rgb(4, 49, 110);
}

.btn:hover {
    color: #fff;
}


.width-100 {
    width: 100% !important;
}

.width-90 {
    width: 90% !important;
}

.width-80 {
    width: 80% !important;
}

.width-70 {
    width: 70% !important;
}

.width-60 {
    width: 60% !important;
}

.width-50 {
    width: 50% !important;
}